.main-block{
    max-height: 80vh;
}
.category {
    font-size: 16px;
    font-weight: bold;
}

.item {
    cursor: pointer;
}

.sidebar {
    background-color: lightgray;
    max-height: 75 vh !important;
    overflow: scroll;
}

/* .orders-list {
    max-height: 75vh;
    overflow: auto;
} */

.menu-sidebar {
    overflow: auto;
    /* max-height: 80vh; */
}