.main-block {
    /* max-height: 80vh; */
}

.category {
    font-size: 16px;
    font-weight: bold;
}

.item {
    cursor: pointer;
}

.sidebar {
    background-color: lightgray;
    max-height: 75vh !important;
    overflow: scroll;
}

.menu-sidebar {
    overflow: auto;
    /* max-height: 80vh; */
}

.place-order-btn {
    float: right;
}